<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CIS400.fever_detection_app"
    android:versionCode="1"
    android:versionName="1.0">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StepCountActivity"></activity>
        <!--
           The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.MapsActivity" />
        <activity android:name=".activity.ManualHealthActivity" />
        <activity android:name=".activity.MeChangePhoneNumActivity" />
        <activity android:name=".activity.MeChangePasswordActivity" />
        <activity android:name=".activity.ContactsLogActivity" />
        <activity android:name=".activity.HeartRateLogActivity" />
        <activity android:name=".activity.CoronaStatsActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.ManualSymptomActivity" />
        <activity android:name=".activity.HealthNewsActivity" />
        <activity android:name=".activity.MealPlanner" />
        <activity
            android:name=".activity.SymptomsLogActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.RegisterActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.CIS400.fever_detection_app.BmobContentProvider" />

        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.LoginActivity" />
    </application>

</manifest>